<figure class="highcharts-figure">
    <div id="GiaiNgan"></div>
</figure>
<script>
    var currentYearMonthCasa =  <%- currentYearMonth %>
</script>

<script src="/Chart_script/Monthly/TIN_DUNG/GiaiNgan.js"></script>
