<figure class="highcharts-figure">
    <div id="tang_truong_cuoi_ky_TD"></div>
</figure>
<script>
    var tang_truong_cuoi_ky_xAxis =  <%- tang_truong_cuoi_ky_xAxis %>
</script>

<script src="/Chart_script/Monthly/TIN_DUNG/Tang_truong_cuoi_ky.js"></script>

<style>
 
</style>
