<figure class="highcharts-figure">
    <div id="TatToan"></div>
</figure>
<script>
    var currentYearMonthCasa =  <%- currentYearMonth %>
</script>

<script src="/Chart_script/Monthly/TIN_DUNG/TatToan.js"></script>
