<div>
    <div class="row frame_profile" style="height: 100px">
        <div class="col-4 ">
            <div class="avatar" style="display: flex; align-items: center; clip-path: circle(25px at 50% 50%); justify-content: center;">
                <img style="width: 80%; " src="/img/User-avatar.svg.png" alt="Avatar">
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <p style="margin-bottom: 0;
                font-weight: 500;
                color: gray;">
                    <%= staff.Name %>
                </p>
            </div>
            <div class="row">
                <p>
                    <%= staff.CIF %>
                </p>
            </div>
        </div>
    </div>
</div>
