<figure class="highcharts-figure">
    <div id="CASA"></div>
</figure>
<script>
    var currentYearMonthCasa =  <%- currentYearMonth %>
</script>

<script src="/Chart_script/Monthly/HDV/Casa.js"></script>
