<figure class="highcharts-figure">
    <div id="HDV_Online"></div>
</figure>
<script>
     var currentYearMonthHDVOnline =  <%- currentYearMonth %>
</script>

<script src="/Chart_script/Monthly/HDV/HDV_Online.js"></script>
