<figure class="highcharts-figure">
    <div id="tang_truong_cuoi_ky"></div>
</figure>
<script>
    var tang_truong_cuoi_ky_xAxis =  <%- tang_truong_cuoi_ky_xAxis %>
</script>

<script src="/Chart_script/Monthly/HDV/Tang_truong_cuoi_ky.js"></script>
