<figure class="highcharts-figure">
    <div id="tang_truong_BQ"></div>
</figure>
<script>
    var Tang_truong_BQ_xAxis =  <%- tang_truong_BQ_xAxis %>
</script>

<script src="/Chart_script/Monthly/HDV/Tang_truong_BQ.js"></script>
