<div id="quymobinhquan">
    <div class="row">
        <div class="col-12" style="background-color: rgb(255, 183, 3); height: 42px;">
            <p style="color: #000;line-height: 42px;font-weight: 600;">KHÁCH HÀNG</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="background-color: rgb(142, 202, 230);">
            <p style="color: #000;font-weight: 600; line-height: 32px;">TỔNG SLKH</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="height: 42px;background-color: rgb(2, 48, 71); border-bottom: 1px solid #FFFFFF;">
            <p style="line-height: 42px; font-size: 24px; font-weight: 600;">1.197.144</p>
        </div>
    </div>
    <div class="row">
        <div class="col-5" style="background-color: rgb(2, 48, 71);">
            <p style="line-height: 32px;">+/- Kỳ trước</p>
        </div>
        <div class="col-7" style="background-color: rgb(2, 48, 71);">
            <p style="line-height: 32px;"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-5" style="background-color: rgb(2, 48, 71);">
            <p style="line-height: 32px;">+/- Đầu năm</p>
        </div>
        <div class="col-7" style="background-color: rgb(2, 48, 71);">
            <p style="line-height: 32px;"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="background-color: rgb(142, 202, 230);">
            <p style="color: #000;font-weight: 600; line-height: 32px;">SLKH MỚI</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="height: 42px;background-color: rgb(2, 48, 71); border-bottom: 1px solid #FFFFFF;">
            <p style="line-height: 42px; font-size: 24px; font-weight: 600;">79.134</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6" style="background-color: rgb(2, 48, 71); height: 42px;">
            <p style="line-height: 42px;">%Hoàn thành LK</p>
        </div>
        <div class="col-6" style="background-color: rgb(2, 48, 71); height: 42px">
            <p style="line-height: 42px; font-size: 22px;">90%</p>
        </div>
    </div>
    <div class="row">
        <div class="col-5" style="background-color: rgb(2, 48, 71);">
            <p style="line-height: 32px;">+/- Kỳ trước</p>
        </div>
        <div class="col-7" style="background-color: rgb(2, 48, 71);">
            <p style="line-height: 32px;"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-5" style="background-color: rgb(2, 48, 71);">
            <p style="line-height: 32px;">+/- Đầu năm</p>
        </div>
        <div class="col-7" style="background-color: rgb(2, 48, 71);">
            <p style="line-height: 32px;"></p>
        </div>
    </div>

    <div class="row">
        <div class="col-12" style="background-color: rgb(142, 202, 230);">
            <p style="color: #000;font-weight: 600; line-height: 32px;">SLKH ACTIVE MỚI</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="height: 42px;background-color: rgb(2, 48, 71); border-bottom: 1px solid #FFFFFF;">
            <p style="line-height: 42px; font-size: 24px; font-weight: 600;">45.576</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6" style="background-color: rgb(2, 48, 71); height: 42px;">
            <p style="line-height: 42px;">%Hoàn thành LK</p>
        </div>
        <div class="col-6" style="background-color: rgb(2, 48, 71); height: 42px">
            <p style="line-height: 42px; font-size: 22px;">90%</p>
        </div>
    </div>
    <div class="row">
        <div class="col-5" style="background-color: rgb(2, 48, 71);">
            <p style="line-height: 32px;">+/- Kỳ trước</p>
        </div>
        <div class="col-7" style="background-color: rgb(2, 48, 71);">
            <p style="line-height: 32px;"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-5" style="background-color: rgb(2, 48, 71);">
            <p style="line-height: 32px;">+/- Đầu năm</p>
        </div>
        <div class="col-7" style="background-color: rgb(2, 48, 71);">
            <p style="line-height: 32px;"></p>
        </div>
    </div>
</div>