<div id="quymobinhquan">
    <div class="row">
        <div class="col-12" style="background-color: rgb(255, 183, 3); height: 42px;">
            <p style="color: #000;line-height: 42px;font-weight: 600;">THẺ TÍN DỤNG</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="background-color: rgb(142, 202, 230);">
            <p style="color: #000;font-weight: 600; line-height: 32px;">SỐ LƯỢNG</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="height: 42px;background-color: rgb(2, 48, 71); border-bottom: 1px solid #FFFFFF;">
            <p style="line-height: 42px; font-size: 24px; font-weight: 600;">1.197.144</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6" style="background-color: rgb(2, 48, 71); height: 42px;">
            <p style="line-height: 42px;">%Hoàn thành LK</p>
        </div>
        <div class="col-6" style="background-color: rgb(2, 48, 71); height: 42px">
            <p style="line-height: 42px; font-size: 22px;">90%</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="background-color: rgb(142, 202, 230);">
            <p style="color: #000;font-weight: 600; line-height: 32px;">DOANH SỐ</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="height: 42px;background-color: rgb(2, 48, 71); border-bottom: 1px solid #FFFFFF;">
            <p style="line-height: 42px; font-size: 24px; font-weight: 600;">1.197.144</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6" style="background-color: rgb(2, 48, 71); height: 42px;">
            <p style="line-height: 42px;">%Hoàn thành LK</p>
        </div>
        <div class="col-6" style="background-color: rgb(2, 48, 71); height: 42px">
            <p style="line-height: 42px; font-size: 22px;">90%</p>
        </div>
    </div>
   
</div>