<div id="quymobinhquan">
    <div class="row title">
        <div class="col-12">
            <p>TỶ LỆ NỢ</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6" style="padding: 0;">
            <div class="row" style="background-color: rgb(142, 202, 230); height: 40px;">
                <div class="col-12">
                    <p style="color: black; margin-bottom: 0; line-height: 40px;">
                        NỢ QUÁ HẠN
                    </p>
                </div>
            </div>
            <div class="row" style="background-color: rgb(2,48,71); height: 100px;">
                <div class="col-12">
                    <p style="color: #FFFFFF; margin-bottom: 0; line-height: 100px;">
                        2%
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6" style="padding: 0;">
            <div class="row" style="background-color: rgb(2,48,71); height: 40px;">
                <div class="col-12">
                    <p style="color: #FFFFFF; margin-bottom: 0; line-height: 40px;">
                        NỢ XẤU
                    </p>
                </div>
            </div>
            <div class="row" style="background-color: rgb(142, 202, 230); height: 100px;">
                <div class="col-12">
                    <p style="color: black; margin-bottom: 0; line-height: 100px;">
                        2%
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>