<div style="overflow-x:scroll; 
overflow-y: scroll; 
height: calc(100vh - 100px) !important; left: 237px;
    position: absolute; z-index: -1000;">

<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
<thead>
    <tr>
        <% for(i=1; i < title.length ; i++){ %>
            <th><%= title[i] %></th>
        <% } %>
        
    </tr>
</thead>
<tbody>
        <% for(j=0; j < list.length; j++) { %>
            <tr>
                <% for(k=1; k < list[k].length ; k++){ %>
                    <td><%= list[i][k] %></td>
                <% } %>
            </tr>
        <% } %>  
</tbody>
</table>
    
</div>


<script>
$(document).ready(function () {
//Only needed for the filename of export files.
//Normally set in the title tag of your page.
document.title = "Simple DataTable";
// Create search inputs in footer
$("#example tfoot th").each(function () {
var title = $(this).text();
$(this).html('<input type="text" placeholder="Search ' + title + '" />');
});
// DataTable initialisation
var table = $("#example").DataTable({
dom: '<"dt-buttons"Bf><"clear">lirtp',
paging: true,
autoWidth: true,
buttons: [
    "colvis",
    "copyHtml5",
    "csvHtml5",
    "excelHtml5",
    "pdfHtml5",
],
initComplete: function (settings, json) {
    var footer = $("#example tfoot tr");
    $("#example thead").append(footer);
}
});

// Apply the search
$("#example thead").on("keyup", "input", function () {
table.column($(this).parent().index())
.search(this.value)
.draw();
});
});


</script>