<div id="quymobinhquan">
    <div class="row title" style="background-color: rgb(33, 158, 188);">
        <div class="col-12">
            <p style="font-weight: 700;">TOP KHÁCH HÀNG BIẾN ĐỘNG TĂNG</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6" style="background-color: rgb(255, 183, 3);">
            <p style="line-height: 32px; color: black;">Cá nhân</p>
        </div>
        <div class="col-6" style="background-color: rgb(142, 202, 230);">
            <p style="line-height: 32px; color: black;">TCKT</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="background-color: rgb(2, 48, 71);">
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="background-color: rgb(2, 48, 71);">
            <p></p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12" style="background-color: rgb(2, 48, 71);">
            <p></p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12" style="background-color: rgb(2, 48, 71);">
            <p></p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12" style="background-color: rgb(2, 48, 71);">
            <p></p>
        </div>
    </div>
    
    
</div>