<div id="quymobinhquan">
    <div class="row title">
        <div class="col-12">
            <p>MARGIN</p>
        </div>
    </div>
    <div class="row" style="background-color: rgb(2,48,71);">
        <div class="col-12">
            <div class="row">
                <div class="col-12 totalQuymo">
                    <p>2,1%</p>
                </div>
            </div>
            <div class="row" style="min-height: 46px;">
                <div class="col-6">
                    <p>%Hoàn thành LK</p>
                </div>
                <div class="col-6">
                    <p class="value" style="font-size: 24px;">90%</p>
                </div>
            </div>
            <div class="row" style="min-height: 46px;">
                <div class="col-6">
                    <p>+/- Kỳ trước</p>
                </div>
                <div class="col-6">
                    <p class="value">-0.30%</p>
                </div>
            </div>
            <div class="row" style="min-height: 46px;">
                <div class="col-6">
                    <p>+/- Đầu năm</p>
                </div>
                <div class="col-6">
                    <p class="value">-0.80%</p>
                </div>
            </div>
        </div>
    </div>
</div>