.staff_on_list {
    margin-bottom: 6px;
    min-height: 42px;
    background-color: white;
    border: none;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
}

.staff_on_list p{
    margin-bottom: 0px;
    color: #3b3b3b;
    font-weight: 500;
    font-size: 14px;
}
.staff_on_list .col-3, .staff_on_list .col-2, .staff_on_list .col-1{
    margin: auto;
}

#myFormBox {
    width: 100vw;
    position: absolute;
    top: 0;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    background-color: rgba(128, 128, 128, 0.2);
}

.formDSCV_ND {
    border-radius: 10px;
    display: flex;
    width: 600px;
    height: 400px;
    background-color: #FFFFFF;
    position: absolute;
    top: 180px;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
