<div id="myDiv3" style="width: 100vw;
                position: absolute;
                top: 0;
                height: 100vh;
                display: none;
                justify-content: space-around;
                background-color: rgba(128, 128, 128, 0.4);">
        <div style="
        display: flex;
        width: 600px;
        height: 400px;
        background-color: #FFFFFF;
        position: absolute;
        top: 180px;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;">
            <form action="/DScongviec/<%= Rptdate %>" method="POST" style="padding: 15px;">
                <div class="row" style="margin: 0; justify-content: center;">
                    <p id="title"></p>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-12">Nội dung</div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea disabled class="form-control" placeholder="Nội dung cần thực hiện" id="noi_dung" name="contentJob" ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p style="margin: 0;">Ghi chú</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Ghi chú" id="ghichu" name="noteJob" ></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-12">
                                <p>Thời hạn</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input type="text" id="deadLine"  disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p>Tiến độ thực hiện</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input type="text" id="timelineJob" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p>Trạng thái</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <select class="select_statusJob" name="statusJob" id="statusJob">
                                    <option id="selected0" value="0">Chưa thực hiện</option>
                                    <option id="selected1" value="1">Đang thực hiện</option>
                                    <option id="selected2" value="2">Hoàn thành</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <input id="idJob"  name="id" hidden>
                    <input hidden id="tracktitleJob"  name="titleJob" />
                    <input hidden id="trackdateJob"  name="dateJob" />
                    <input hidden id="trackcontentJob"  name="contentJob" />
                    <input hidden id="trackRptdate"  name="Rptdate" />
                    <input hidden id="trackdeadlineJob"  name="deadlineJob" />
                </div>
                <div style="display: flex; flex-wrap: wrap;justify-content: center;">
                    <input style="padding: 2px 5px;margin: 5px; background-color: #007bff; border-color: #007bff; color: white; font-weight: 400; border: 1px solid transparent; border-radius: 5px;" type="submit" name="update" value="Cập nhật">
                    <input style="padding: 2px 5px;margin: 5px; background-color: #dc3545; border-color: #dc3545; color: white; font-weight: 400; border: 1px solid transparent; border-radius: 5px;" type="button" onclick="closeShowBox()" value="Hủy">
                </div>
            </form>
        </div>
    </div>
    <script>
        let listjob = <%- arrayListJob %>
    </script>
    <script>dayjs().format()</script>
    <script>
        var x = document.getElementById('myDiv3')
        let tracktitleJob = document.getElementById('tracktitleJob')
        let trackdateJob = document.getElementById('trackdateJob')
        let trackcontentJob = document.getElementById('trackcontentJob')
        let trackRptdate = document.getElementById('trackRptdate')
        let trackdeadlineJob = document.getElementById('trackdeadlineJob')
        let title = document.getElementById('title')
        let noi_dung = document.getElementById('noi_dung')
        let ghichu = document.getElementById('ghichu')
        let deadLine = document.getElementById('deadLine')
        let timelineJob = document.getElementById('timelineJob')
        let statusJob = document.getElementById('statusJob')
        let selected0 = document.getElementById('selected0')
        let selected1 = document.getElementById('selected1')
        let selected2 = document.getElementById('selected2')
        let idJob = document.getElementById('idJob')
        const closeShowBox = () => {
            x.style.display = 'none'
        }
        const handlerShowBox = (id) => {
        if (x.style.display === 'none') {
            x.style.display = 'flex';
        } else {
            x.style.display = 'none';
        }
        listjob.map(job => {
            if(job.id === id){
                idJob.value = id
               title.innerText = job.titleJob
               noi_dung.innerHTML = job.contentJob
               ghichu.innerText = job.noteJob
               deadLine.value =  dayjs(job.deadlineJob).format("DD-MM-YYYY")
               timelineJob.value =  dayjs(job.timelineJob).format("DD-MM-YYYY")
               tracktitleJob.value = job.titleJob
                trackdateJob.value = job.dateJob
                trackcontentJob.value = job.contentJob
                trackRptdate.value = job.Rptdate
                trackdeadlineJob.value = job.deadlineJob
               if(job.statusJob == 2){
                    selected2.selected = "true"
               }else if (job.statusJob == 1) {
                    selected1.selected = "true"
               } else {selected0.selected = "true"}
            }
        })
        }
    </script>