<figure class="highcharts-figure">
    <div id="KH_Chart3"></div>
</figure>
<script>
    var currentYearMonth =  <%- currentYearMonth %>
</script>

<script src="/Chart_script/Monthly/KHACH_HANG/KH_Chart3.js"></script>
