<nav>
    <ul>
        <li><a href="#">Báo cáo tín dụng</a>
        <!-- First Tier Drop Down -->
        <ul>
            <li><a href="#">Toàn hàng</a></li>
            <li><a href="#">KHCN</a></li>
            <li><a href="#">KHDN</a>
          <!-- Second Tier Drop Down -->
            <ul>
                <li><a href="#">ALL</a></li>
                <li><a href="#">Core</a></li>
                <li><a href="#">Upper</a>
                   
                </li>
            </ul>
            </li>
            <li><a href="#">KHDNL</a>
                <!-- Second Tier Drop Down -->
                  <ul>
                      <li><a href="#">ALL</a></li>
                      <li><a href="#">PVN</a></li>
                      <li><a href="">Non-PVN</a>
                         
                      </li>
                  </ul>
                  </li>
        </ul>
        </li>
        <li><a href="#">Báo cáo HĐV</a>
            <!-- First Tier Drop Down -->
            <ul>
                <li><a href="#">Toàn hàng</a></li>
                <li><a href="#">KHCN</a></li>
                <li><a href="#">KHDN</a>
              <!-- Second Tier Drop Down -->
                <ul>
                    <li><a href="#">ALL</a></li>
                    <li><a href="#">Core</a></li>
                    <li><a href="#">Upper</a>
                       
                    </li>
                </ul>
                </li>
                <li><a href="#">KHDNL</a>
                    <!-- Second Tier Drop Down -->
                      <ul>
                          <li><a href="#">ALL</a></li>
                          <li><a href="#">PVN</a></li>
                          <li><a href="">Non-PVN</a>
                             
                          </li>
                      </ul>
                      </li>
            </ul>
            </li>
            <li>
                <a href="#">Báo cáo khách hàng</a>
            </li>
        
    </ul>
</nav>